@using DKP.Services
@*文本框*@
@helper Text(string title,  string name = "", object value = null,string labelStyle="",string lcls="", string inputStyle = "", string labelSize = "2", bool rdly = false, string id = "", bool suggest = false,bool date=false,string dateFormat="yyyy-mm-dd hh:ii", string inputSize = "4",string placeHolder="",string cls="",bool disable=false,string remark="",string type="text",string valid = "",string left="",string right="",string mask="",string attr="") {
    if (!string.IsNullOrEmpty(title))
    {
        <label class="col-sm-@labelSize control-label @lcls" style="@labelStyle">@title</label>
    }
    <div class="input-group col-sm-@inputSize @(date ? "" : "")" style="float:left;">
        @if (date)
        {
            if (!string.IsNullOrEmpty(left))
            {
                <span class="input-group-addon">@left</span>
            }
            <input type="@type" id="@id" class="form-control @valid @cls @(date ? "dtp" : "")" style="@inputStyle" name="@name" data-date-format="@(dateFormat)" placeholder="@placeHolder" @(disable ? "disabled" : "") value="@value" @(rdly ? "readonly" : "") />
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        }
        else
        {
            if (!string.IsNullOrEmpty(left))
            {
                <span class="input-group-addon">@left</span>
            }
            <input type="@type" id="@id" @attr class="form-control @valid @cls @(date ? "datetimepicker" : "")" name="@name" placeholder="@placeHolder" @(disable ? "disabled" : "") value="@value" @(rdly ? "readonly" : "") @(!string.IsNullOrEmpty(mask)?"data-mask="+mask:"") />
            if (!string.IsNullOrEmpty(right))
            {
                <span class="input-group-addon">@right</span>
            }
            if (!string.IsNullOrEmpty(remark))
            {
                <span class="help-block m-b-none">@remark</span>
            }
            if (suggest)
            {
                <div class="input-group-btn">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                </div>
            }
        }
    </div>
    
}

@*文本域*@
@helper TextArea(string title, string name = "", object value = null, string labelSize = "2", string inputSize = "4", string placeHolder = "", bool disable = false, string remark = "",string valid = "",int rows = 3)
{
    if (!string.IsNullOrEmpty(title))
    {
        <label class="col-sm-@labelSize control-label">@title</label>
    }
    <div class="input-group col-sm-@inputSize" style="float:left;">
        <textarea class="form-control @valid" name="@name" rows="@rows" placeholder="@placeHolder" @(disable ? "disabled" : "") >@value</textarea>
        @if (!string.IsNullOrEmpty(remark))
        {
            <span class="help-block m-b-none">@remark</span>
        }
    </div>

}

@*隐藏域*@
@helper Hidden(string name,object value,string id="") {
    <input type="hidden" name="@name" value="@(value+"")" id="@id" />
}

@*dialog按钮*@
@helper Button(string id = "",string btnStyle="default",string btnSize= "btn-sm",bool outline = true, bool showText = false, string btn="btn",bool hf = false, string ajax = "",string icon = "",string title = "",string type = "button",bool a = false,string href = "javascript:void(0)", bool permission = false,string toggle="",string target="",string attr="",string cls = "")
{
    if (permission)
    {
        var u = CommonService.CheckPermission(href, Request.ApplicationPath);
        if (!string.IsNullOrWhiteSpace(u))
        {
            if(a)
            {
                <a id="@id" title="@title" class="@cls btn-@btnStyle @btnSize @(outline?"btn-outline":"")" @(hf?"hf="+href:"") role="button" href="@href" @(!string.IsNullOrEmpty(toggle)?("data-toggle="+toggle+" data-target=#"+target):"") @attr @(!string.IsNullOrEmpty(ajax)?"onclick="+ajax:"") @(cls.IndexOf("newTab")>=0? "onclick=newTab($(this))" : "")>
                    <span class="glyphicon @icon" aria-hidden="true"></span>@(showText ? title : "")
                </a>
            }
            else
            {
                <button id="@id" title="@title" type="button" href="@href" class="@cls @btn btn-@btnStyle @btnSize @(outline?"btn-outline":"")" @(hf?"hf="+href:"") @(!string.IsNullOrEmpty(toggle)?("data-toggle="+toggle+" data-target=#"+target):"") @attr @(!string.IsNullOrEmpty(ajax)?"onclick="+ajax:"") @(cls.IndexOf("newTab")>=0? "onclick=newTab($(this))" : "")>
                    <span class="glyphicon @icon" aria-hidden="true"></span>@(showText ? title : "")
                </button>
            }
        }
    }
    else
    {
        if(a)
        {
            <a id="@id" title="@title" class="@cls btn-@btnStyle @btnSize @(outline?"btn-outline":"")" @(hf?"hf="+href:"") role="button" href="@href" @(!string.IsNullOrEmpty(toggle)?("data-toggle="+toggle+" data-target=#"+target):"") @attr @(!string.IsNullOrEmpty(ajax)?"onclick="+ajax:"") @(cls.IndexOf("newTab")>=0? "onclick=newTab($(this))" : "")>
                <span class="glyphicon @icon" aria-hidden="true"></span>@(showText ? title : "")
            </a>
        }
        else
        {
            <button id="@id" title="@title" type="button" href="@href" class="@cls @btn btn-@btnStyle @btnSize @(outline?"btn-outline":"")" @(hf?"hf="+href:"") @(!string.IsNullOrEmpty(toggle)?("data-toggle="+toggle+" data-target=#"+target):"") @attr @(!string.IsNullOrEmpty(ajax)?"onclick="+ajax:"") @(cls.IndexOf("newTab")>=0? "onclick=newTab($(this))" : "")>
                <span class="glyphicon @icon" aria-hidden="true"></span>@(showText ? title : "")
            </button>
        }
    }
}

@*复选框*@
@helper Checkbox(string id = "", bool inline = false, string name = "",string value = "",string title = "", string valid = "",string type="default",bool ck = false, string text = "", string labelSize = "2",string cls = "") {
    if (!string.IsNullOrEmpty(text))
    {
        <label class="col-sm-@labelSize control-label">@text</label>
    }
        <div class="checkbox checkbox-@type @valid @(inline?"checkbox-inline":"") @cls">
            <input id="@id" type="checkbox" name="@name" value="@value" @(ck ? "checked" : "")>
            <label for="@id">@title</label>
        </div>
}

@*单选框*@
@helper Radio(string id = "", bool inline = false, string name = "", string value = "", string title = "", string type = "default", bool ck = false, string text = "", string labelSize = "2")
{
    if (!string.IsNullOrEmpty(text))
    {
        <label class="col-sm-@labelSize control-label">@text</label>
    }
        <div class="radio radio-@type @(inline?"radio-inline":"")">
            <input id="@id" type="radio" name="@name" value="@value" @(ck ? "checked" : "")>
            <label for="@id">@title</label>
        </div>
}

@*下拉框*@
@helper Select(string id="",string name="",string text="",string selectValue = "",string labelSize = "2",string inputSize = "4",Dictionary<string,string> options = null, string valid = "") {
    if (!string.IsNullOrEmpty(text))
    {
        <label class="col-sm-@labelSize control-label">@text</label>
}
    <div class="input-group col-sm-@inputSize" style="float:left;">
        <select class="form-control m-b @valid" name="@name">
            @if (string.IsNullOrEmpty(valid))
            {
                <option>请选择</option>
            }
            @{
                if (options != null)
                {
                    foreach (var vl in options)
                    {
                        <option value="@vl.Key" @(vl.Key == selectValue ? "selected":"")>@vl.Value</option>
                    }
                }

            }
        </select>
    </div>
}

@*富文本框*@
@helper Rich(string id = "",string name = "",string cls = "",string value = "",string text="",string labelSize = "2",string inputSize = "4")
{
    if (!string.IsNullOrEmpty(text))
    {
        <label class="col-sm-@labelSize control-label">@text</label>
    }
    <div class="col-sm-@inputSize" style="padding:0px;">
        <textarea id="@id" class="@cls" name="@name" placeholder="" autofocus>@value</textarea>
    </div>
}