@model Dictionary<int,object>
@{ 
    var obj = Model[1] as Permission;
    var selectObj = Model[2] as List<Permission>;
}
@if (obj.Children.Any())
{
    <ul>
        @foreach (var p in obj.Children)
        {
            <li id="@p.Id" 
                @if (selectObj!=null && selectObj.Where(s => s.Id == p.Id).Count()>0)
                {
                    <text>data-jstree='{"opened":true,"icon":"@(!string.IsNullOrEmpty(p.Icon)?"fa "+p.Icon:"fa fa-file-text")","selected":true}'</text>
                }
                else
                {
                    <text>data-jstree='{"opened":true,"icon":"@(!string.IsNullOrEmpty(p.Icon)?"fa "+p.Icon:"fa fa-file-text")","selected":false}'</text>
                }
            >
                @p.Name
                @{Model[1] = p;}
                @Html.Partial("_PermissionTree", Model)
            </li>
        }
    </ul>
}