@{ 
    if (Model.Id > 0)
    {
        @FormHelpers.Hidden("Id", Model.Id)
        @FormHelpers.Hidden("CreatorId", Model.CreatorId)
        @FormHelpers.Hidden("CreatorName", Model.CreatorName)
        @FormHelpers.Hidden("CreateTime", Model.CreateTime)
    }
}
<div class="form-group">
    @FormHelpers.Text("名称", "Name", Model.Name, valid: "required",inputSize:"10")
</div>
<div class="form-group">
    @FormHelpers.TextArea("备注", "Remark", Model.Remark, inputSize: "10")
</div>
<div class="form-group">
    <label class="col-sm-1 control-label">权限</label>
    <div class="col-sm-10">
        <div id="tree">
            <ul>
                @{
                    var permissions = ViewBag.Permissions as List<Permission>;
                    var selectedPer = (Model as Role).Permissions.ToList();
                    string selectedIds = string.Join(",",selectedPer.Select(s=>s.Id).ToList());
                    foreach (var p in permissions)
                    {
                        var pers = new Dictionary<int, object>();
                        pers.Add(2, selectedPer);
                        <li id="@p.Id"
                            @if (selectedPer.Where(s => s.Id == p.Id).Count() > 0)
                            {
                                <text>data-jstree='{"opened":true,"selected":true}'</text>
                            }
                            else
                            {
                                <text>data-jstree='{"opened":true,"selected":false}'</text>
                            }
                        >
                            @p.Name
                            @{ pers.Add(1, p);}
                            @Html.Partial("_PermissionTree", pers)
                        </li>
                    }
                }
            </ul>
        </div>
        @FormHelpers.Hidden("ids", selectedIds, id:"hidIds")
    </div>
</div>
<link href="~/Content/css/plugins/jsTree/style.min.css" rel="stylesheet">
<script src="~/Content/js/plugins/jsTree/jstree.min.js"></script>
<script>
    $('#tree').jstree({
        core: {
            "themes": { "icons": true }
        },
        plugins: ["checkbox"],
        "checkbox": {
            "three_state":false,
            "cascade": "undetermined+up"
    },
    }).bind('click.jstree', function (event) {
        var val = $('#tree').jstree().get_checked();
        $("#hidIds").val(val);
    });
</script>


