<script src="~/Content/js/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="~/Content/js/plugins/bootstrap-select/bootstrap-select.js"></script>
<link href="~/Content/css/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
<script>
    $(function () {
        //初始化suggest控件
        var agentSuggest = $("#agent").bsSuggest({ url: "@(Url.Action("GetAgents", "Mail"))", effectiveFields: ["key", "name"], effectiveFieldsAlias: {"name": "名称" }, idField: "key", keyField: "name" })
            .on('onSetSelectValue', function (e, keyword) {
                $("#platform").val(keyword["id"]);
            }).on('onUnsetSelectValue', function (e) {
                $("#platform").val("");
        });
    });
</script>
<div class="form-group">
    @FormHelpers.Text("用户名", "account_id", Model.account_id, valid: "required", rdly: true)
</div>
<div class="form-group">
    @FormHelpers.Text("密码", "password", "", type: "password",valid: "required")
</div>
<div class="form-group">
    @FormHelpers.Text( "渠道",value:Model.platform_name,rdly:true)
    @FormHelpers.Hidden("platform", Model.platform,id:"platform")
</div>
