@{
    //隐藏默认搜索框
    ViewBag.ShowSearch = "false";
    Layout = "~/Views/Shared/_RightTableLayout.cshtml";
    ViewBag.TableUrl = Url.Action("List", "Mail");
}

@section toolbar{
    <div id="toolbar" class="btn-group">
        @FormHelpers.Button(id: "btn_add", icon: "glyphicon-plus", permission: true, btnStyle: "primary", title: "新增", toggle: "modal", target: "modal", href: Url.Action("Add", "Mail"))
    </div>
    <div class="modal inmodal" id="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
            </div>
        </div>
    </div>
    <div id="hidToolbar" class="hide">
        @FormHelpers.Button(id: "ajax_sendMail", icon: "glyphicon-envelope", permission: true, a: true, href: Url.Action("Send", "Mail"), btnStyle: "primary", title: "发送", hf: true, ajax: "sendMail(this)")
        @FormHelpers.Button(id: "ajax_delete", icon: "glyphicon-remove", permission: true, a: true, href: Url.Action("Delete", "Mail"), btnStyle: "danger", title: "删除", hf: true, ajax: "del(this)")
    </div>
}
@section search{
    @FormHelpers.Text("", "CharacterId", "", valid: "required", inputSize: "2", left: "角色id")
    @FormHelpers.Text("", "Start", "", valid: "required", inputSize: "3", date: true, left: "开始日期")
    @FormHelpers.Text("", "End", "", valid: "required", inputSize: "3", date: true, left: "结束日期")
    @FormHelpers.Button(ajax: "refreshTable()", btnStyle: "primary", cls: "searchButton btn-circle", icon: "glyphicon-search")
}
@section table{
    <th data-field="CreateTime" data-width="140">操作时间</th>
    @*data-sortable="true" data-order="asc"*@
    <th data-field="AgentName" data-width="140">渠道</th>
    <th data-field="ServerName" data-width="140">服务器</th>
    <th data-field="CharacterId">角色ID</th>
    <th data-field="Title" data-width="160">标题</th>
    <th data-field="Contents" data-width="200">邮件内容</th>
    <th data-field="Items">物品奖励</th>
    <th data-field="Status" data-width="70" data-align="center">状态</th>
    <th data-field="IdOp" data-width="90" data-formatter="operateInfo" data-align="center">操作</th>
}
@section Bottom{
    <script>
        //添加检索
        function queryParams(params) {
            params.CharacterId = $(".ownsearch").find(":text[name='CharacterId']").val();
            params.Start = $(".ownsearch").find(":text[name='Start']").val();
            params.End = $(".ownsearch").find(":text[name='End']").val();
            return params;
        }
        //删除通用方法
        function sendMail(arg) {
            swal({
                title: "您确定要发送吗？",
                text: "发送后将无法删除该记录，请谨慎操作！",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "发送",
                cancelButtonText: "取消",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: $(arg).attr("h"),
                    dataType: 'json',
                    type: 'post',
                    error: function () {
                        window.parent.showMsg("error", "服务器超时！");
                        $(form).find("button[type=submit]").removeAttr("disabled");
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            window.parent.showMsg("success", data.msg);
                            window.location.reload();
                        }
                        else {
                            window.parent.showMsg("error", data.msg);
                        }
                    }
                });
            });
        }
    </script>
}
