@{
    Layout = "~/Views/Shared/_RightTableLayout.cshtml";
    ViewBag.TableUrl = Url.Action("List", "Func");
}

@section toolbar{
    <div id="toolbar" class="btn-group">
        @FormHelpers.Button(id: "btn_add", icon: "glyphicon-plus", permission: true, btnStyle: "primary", title: "新增", toggle: "modal", target: "modal", href: Url.Action("Add", "Func"))
    </div>
    <div class="modal inmodal" id="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
            </div>
        </div>
    </div>
    <div id="hidToolbar" class="hide">
        @FormHelpers.Button(id: "btn_edit", icon: "glyphicon-pencil", permission: true, a: true, href: Url.Action("Edit", "Func"), btnStyle: "warning ", title: "修改", toggle: "modal", target: "modal", hf: true)
        @FormHelpers.Button(id: "ajax_delete", icon: "glyphicon-remove", permission: true, a: true, href: Url.Action("Delete", "Func"), btnStyle: "danger", title: "删除", hf: true, ajax: "del(this)")
        @FormHelpers.Button(id: "ajax_open", icon: "glyphicon-eye-open", permission: true, a: true, href: Url.Action("Open", "Func"), btnStyle: "primary", title: "开启", hf: true, ajax: "openFunc(this)")
        @FormHelpers.Button(id: "ajax_close", icon: "glyphicon-eye-close", permission: true, a: true, href: Url.Action("Close", "Func"), btnStyle: "default", title: "关闭", hf: true, ajax: "closeFunc(this)")
    </div>
}
@section table{
    <th data-field="Name">模块名称</th>
    <th data-field="Status" data-width="80">模块状态</th>
    <th data-field="Id" data-width="160" data-formatter="operateInfo">操作</th>
}
<script>
    function openFunc(arg) {
        swal({
            title: "您确定要开启吗？",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: $(arg).attr("h"),
                dataType: 'json',
                type: 'post',
                error: function () {
                    window.parent.showMsg("error", "服务器超时！");
                    $(form).find("button[type=submit]").removeAttr("disabled");
                },
                success: function (data) {
                    if (data.code == 200) {
                        window.parent.showMsg("success", data.msg);
                        window.location.reload();
                    }
                    else {
                        window.parent.showMsg("error", data.msg);
                    }
                }
            });
        });
    }

    function closeFunc(arg) {
        swal({
            title: "您确定要关闭吗？",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: $(arg).attr("h"),
                dataType: 'json',
                type: 'post',
                error: function () {
                    window.parent.showMsg("error", "服务器超时！");
                    $(form).find("button[type=submit]").removeAttr("disabled");
                },
                success: function (data) {
                    if (data.code == 200) {
                        window.parent.showMsg("success", data.msg);
                        window.location.reload();
                    }
                    else {
                        window.parent.showMsg("error", data.msg);
                    }
                }
            });
        });
    }
</script>