@model User
<style>
    .checkbox{float:left;margin-right:15px;}
</style>
@{ 
    if (Model.Id > 0)
    {
        @FormHelpers.Hidden("Id", Model.Id)
        @FormHelpers.Hidden("Salt", Model.Salt)
        @FormHelpers.Hidden("IsLock", Model.IsLock + "")
        @FormHelpers.Hidden("AddTime", Model.AddTime)
        @FormHelpers.Hidden("CreatorId", Model.CreatorId)
        @FormHelpers.Hidden("CreatorName", Model.CreatorName)
        @FormHelpers.Hidden("CreateTime", Model.CreateTime)
        @FormHelpers.Hidden("Status", Model.Status)
        @FormHelpers.Hidden("IsSystem", Model.IsSystem)
        @FormHelpers.Hidden("Avatar", Model.Avatar)
        @FormHelpers.Hidden("MaxDkp", Model.MaxDkp)
        @FormHelpers.Hidden("SpecialDkp", Model.SpecialDkp)
    }
}
<div class="form-group">
    @FormHelpers.Text("用户名", "UserName", Model.UserName, valid: "required")
    @FormHelpers.Text("密码", "Password", "", type: "password",placeHolder:"不修改可不填")
</div>
<div class="form-group">
    @FormHelpers.Text("姓名", "RealName", Model.RealName, valid: "required")
    @FormHelpers.Text("手机号", "Telephone", Model.Telephone, valid: "required number")
</div>
<div class="form-group">
    @FormHelpers.Text("工号", "Number", Model.Number, valid: "required")
    @FormHelpers.Text("Email", "Email", Model.Email, valid: "email")
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">角色</label>
    <div class="col-sm-4">
        @{
            int i = 0;
            foreach (var role in ViewBag.Roles)
            {
                <div class="checkbox checkbox-primary">
                    <input id="checkbox@(i)" type="checkbox" name="rid" value="@role.Id" @(Model.Roles.Any() && Model.Roles.Where(r => r.Id == role.Id).Count() > 0 ? "checked" : "")>
                    <label for="checkbox@(i)">
                        @role.Name
                    </label>
                </div>
                i++;
            }
        }
    </div>
</div>
@*<div class="form-group">
    @FormHelpers.Text("总DKP", "MaxDkp", Model.MaxDkp, valid: "required", rdly: Model.Id>0?true:false, inputSize: "2")
    @FormHelpers.Text("特殊DKP", "SpecialDkp", Model.SpecialDkp, valid: "required", rdly: Model.Id > 0 ? true : false, inputSize: "2")
</div>*@